<H1>Main Page</H1>

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame(
    {
        'Name':['Krishna','Herry','Jerry','Oggy'],
        'Age': [21,32,41,28],
        'Marks':[92,94,71,84],
        'Grade':['S','S','B','A']
    }
)

In [3]:
df1

      Name  Age  Marks Grade
0  Krishna   21     92     S
1    Herry   32     94     S
2    Jerry   41     71     B
3     Oggy   28     84     A

In [4]:
df1.to_csv("modal_ago.csv")

In [5]:
df1['Attendance'] = [71,93,81,93]

In [6]:
df1

      Name  Age  Marks Grade  Attendance
0  Krishna   21     92     S          71
1    Herry   32     94     S          93
2    Jerry   41     71     B          81
3     Oggy   28     84     A          93

	Name	Age	Marks	Grade	Attendance
0	Krishna	21	92	     S	    71
1	Herry	32	94	     S	    93
2	Jerry	41	71	     B	    81
3	Oggy	28	84	     A      93

In [ ]:
df1[[df1['Name']=='Krishna' & df1['Age']<30]]['Attendance'] = 90

<H1>New Page</H1>

In [3]:
import pandas as pd

In [5]:
df1 = pd.read_hdf("final_data.h5",key='reduced_data')

In [6]:
df1.tail()

,ID,Age,Gender,Occupation status,VHI Score,RSI Score,Smoker,Cigarettes per day,Alcohol consumption,Glasses of alcohol per day,...,Cups of coffee per day,Chocolate,Gramme of chocolate per day,Soft cheese,Gramme of soft cheese per day,Citrus fruits,Citrus fruits per day,Signal,diagnoses,Reduced_Signal
0,voice001,32,m,Researcher,15,5,no,NU,casual drinker,NU,...,4.0,almost never,None,sometimes,NU,sometimes,NU,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",hyperkinetic dysphonia,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,voice002,55,m,Employee,17,12,casual,2,habitual drinker,1,...,3.0,sometimes,None,almost always,50,almost always,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",healthy,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,voice003,34,m,Researcher,42,26,no,NU,casual drinker,1,...,NaN,sometimes,None,almost always,200,almost never,NU,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",hyperkinetic dysphonia,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,voice004,28,f,Researcher,20,9,casual,NU,casual drinker,NU,...,3.0,sometimes,None,almost always,NU,sometimes,NU,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",hypokinetic dysphonia,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,voice005,54,f,Researcher,39,23,no,NU,casual drinker,NU,...,NaN,sometimes,None,sometimes,200,almost always,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",hypokinetic dysphonia,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,voice204,59,f,Singer,0,7,no,NU,nondrinker,NU,...,NaN,sometimes,None,almost never,NU,almost never,NU,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",healthy,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
204,voice205,30,f,Hairstylist,62,19,yes,15,casual drinker,NU,...,3.0,almost always,None,sometimes,NU,sometimes,NU,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",hyperkinetic dysphonia,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
205,voice206,22,f,Singer,0,6,no,NU,nondrinker,NU,...,NaN,sometimes,None,sometimes,NU,almost never,NU,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",healthy,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
206,voice207,30,f,Singer,0,26,no,NU,nondrinker,NU,...,NaN,sometimes,None,sometimes,NU,sometimes,NU,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",healthy,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
207,voice208,39,f,Call center operator,32,15,no,NU,nondrinker,NU,...,2.0,sometimes,None,almost never,NU,almost never,NU,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",hyperkinetic dysphonia,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."